@model noticiasAuto.Models.Comentarios

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar</h2>

<h3>Tem a certeza que pretende apagar este comentário?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Título da Notícia</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noticia.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilizador.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizador.Nome)
        </dd>

        <dt>
            <p>Comentário</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conteudo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-default" href="@Url.Action("Index","Noticias")">Cancelar</a>
            <input type="submit" value="Apagar" class="btn btn-danger" />

        </div>
    }
</div>
