@model noticiasAuto.Models.Noticias

@{
    ViewBag.Title = "Details";
}



<div>
    <hr />

    <div>
        <a href="~/imagens/@Model.Fotografia" target="_blank">
            <img class="img-responsive" style="max-height:300px; margin:0 auto; " src="~/imagens/@Model.Fotografia" />
        </a>
    </div>
    <br />
    <h2 style="font-weight:bold">@Model.Titulo</h2>
    <p style="font-size: 16px; text-align: justify;">@Model.Conteudo</p>
    <br />
    <p>Autor da notícia: @Model.Utilizadores.Nome</p>

</div>


<div style="clear: left">
    <h3>Comentários:</h3>
    @if (User.IsInRole("Admin") || User.IsInRole("Jornalista") || User.IsInRole("UserComum"))
    {
        <a href="@Url.Action("Create", "Comentarios", new { noticiaID = Model.IdNoticia})">Escreve um novo comentário... </a>
    }
    else
    {
        @Html.ActionLink("Faça Login ou Registe-se para escrever um comentário...", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    }@foreach (var comentarios in Model.ListaDeComentarios)
    {
        <hr />
        <div style="float: right">

            @if (User.Identity.Name.Equals(comentarios.Utilizador.Email))
            {
                <a href="@Url.Action("Edit", "Comentarios", new {id = comentarios.IdComentario, noticiaID = comentarios.NoticiaFK})">Editar</a>
            }

            @if (User.IsInRole("Admin") || User.Identity.Name.Equals(comentarios.Utilizador.Email))
            {
                <a href="@Url.Action("Delete", "Comentarios",new {id = comentarios.IdComentario})">Apagar</a>
            }

        </div>
        <h4>@comentarios.Utilizador.Nome</h4>
        <p>@comentarios.Conteudo</p>

    }

</div>

}
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdNoticia }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
