@model noticiasAuto.Models.Equipas

@{
    ViewBag.Title = "Details";
}

<div class="alert alert-warning" role="alert">
    @if (User.IsInRole("Admin"))
    {
    <p style="float: right">
        @Html.ActionLink("Editar", "Edit", new {id = Model.IdEquipa})  |
        @Html.ActionLink("Eliminar Equipa", "Delete", new { id = Model.IdEquipa })
    </p>
    }
    <h1>Detalhes da Equipa:</h1> @Html.DisplayFor(model => model.Nome)
</div>

<div>
    <hr />
    <dl class="dl-horizontal">

        <div>
            <a href="~/Imagens/@Model.Logo" target="_parent">
                <img src="~/Imagens/@Model.Logo" class="rounded" height="200" />
            </a>
        </div>
        
        <dt>
            Nome da Equipa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Data de Fundação:

        </dt>

        <dd>
            @Convert.ToDateTime(Model.DataFundacao).ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Sede:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>


        <dt>
            Fundador da Equipa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fundador)
        </dd>

    </dl>
</div>


<div style="clear: left">
    <div class="alert alert-info" role="alert">
        <font style='font-weight:bold;'> Pilotos da Equipa @Html.DisplayFor(model => model.Nome)</font>
    </div>

    <div>
        @if (User.IsInRole("Admin")) 
        {
            <p style="float:left">
                <a href="@Url.Action("Create", "Pilotos",  new { equipaID = Model.IdEquipa})">Adicionar novo Piloto</a>
            </p>

        }
    </div>
    <hr />
    <div>
        @foreach (var pilotos in Model.ListaDePilotos)
        {
            <div class="col-sm-4" style="text-align: center; justify-content: center; padding-bottom:20px; ">
                <div class="thumbnail" style="height:250px; width:350px;" onclick="window.location= '@Url.Action("Details","Pilotos", new { id = pilotos.IdPiloto})'">

                    <img src="~/imagens/@pilotos.Fotografia" alt="" class="image" style="align-content:center; height:240px; width:340px">

                    <h5 style="position: absolute; top: 200px; left: 15px; right:15px; ">
                        <p style="color:white; background-color: dimgray; display:inline; "><strong> @pilotos.Nome</strong></p>
                    </h5>
                </div>
            </div>

        }
    </div>
</div>

<br />


<div style="float:left; clear:left; width:100%">
    <div class="alert alert-info" role="alert">

        <font style='font-weight:bold;'> Notícias da Equipa @Html.DisplayFor(model => model.Nome)</font>
    </div>

    @foreach (var noticias in Model.ListaDeNoticias)
    {
<div class="col-sm-4" style="text-align: center; justify-content: center; padding-bottom:20px; ">
    <div class="thumbnail" style="height:250px; width:350px;" onclick="window.location= '@Url.Action("Details","Noticias", new { id = noticias.IdNoticia})'">

        <img src="~/imagens/@noticias.Fotografia" alt="" class="image" style="align-content:center; height:240px; width:340px">

        <h5 style="position: absolute; top: 200px; left: 15px; right:15px; ">
            <p style="color:white;  background-color: dimgray; display:inline; "><strong> @noticias.Titulo</strong></p>
        </h5>
    </div>
</div>

    }
</div>

